<div class="container topMar10">
    <h2>User Settings</h2>
    <form action="">
        <div class="mb-3">
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name" id="name" placeholder="name" />
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="gridCheck1">
            <label class="form-check-label" for="gridCheck1">
              Example checkbox
            </label>
          </div>

        <h5>User Interface</h5>
        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="userInterfaces" id="gridRadios1" value="option1">
                <label class="form-check-label" for="gridRadios1">
                Light
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="userInterfaces" id="gridRadios2" value="option2">
                <label class="form-check-label" for="gridRadios2">
                Medium
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="userInterfaces" id="gridRadios3" value="option3">
                <label class="form-check-label" for="gridRadios3">
                Dark
                </label>
            </div>
        </div>
        <div class="mb-3">
            <label class="" for="subscriptionType">User Subscription</label>
            <select class="form-select" id="subscriptionType">
              <option selected>Choose...</option>
              <option value="M">Monthly</option>
              <option value="A">Annual</option>
              <option value="L">Lifetime</option>
            </select>
          </div>
        <button class="btn btn-primary">Send</button>
    </form>  
    
</div>
